.contact-form {
  padding: 50px;
  padding-left: 0;
  caret-color: #2d7fff;
}

.ContactPage {
  display: inline-block;
}

.container {
  width: 50%;
  margin: auto;
}

.form-contact {
  width: 100%;
}

.form-contact-input {
  width: 100%;
  color: #10192a;
  font-size: 18px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 2px;
  height: 45px;
  margin-bottom: 20px;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  &:active {
    background-color: white;
  }
}

.form-contact-textarea {
  width: 100%;
  color: #10192a;
  font-size: 18px;
  background-color: white;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 200px;
  margin-bottom: 20px;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.contact-form-button {
  width: 100%;
  color: white;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 3px;
  font-weight: 800;
  border: 4px double #2d7fff;
  color: #a4acc4;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  font-family: inherit;

  &:hover {
    color: white;
    background-color: #2d7fff;
    border: 2px solid white;
  }
}

.feel-free {
  padding-top: 50px;
}
