.NavBar {
  height: 100vh;
  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-top {
      width: 100%;
      text-align: center;
      margin: 1rem;
      // padding: 20px;
      border-bottom: 1px solid #2e344e;
      img {
        width: 70%;
        border-radius: 50%;
        border: 5px double #2d7fff;
        align-items: center;
      }
    }

    .nav-middle {
      width: 100%;
      .nav-item {
        list-style: none;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        .active {
          color: white;
          letter-spacing: 3px;
          font-weight: 800;
        }
        a {
          text-decoration: none;
          font-size: inherit;
          color: inherit;
          display: block;
          padding: 0.5rem 0;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0.4rem;
            height: 100%;
            background-color: #0381ff33;
            transform-origin: bottom;
            transform: scale(0);
            overflow-x: hidden;
            transition: transform 0.2s,
              0.2s width 0.1s cubic-bezier(1, -0.16, 0.6, 1.35);
          }

          &:hover::before {
            transform: scale(1);
            width: 100%;
          }
        }
      }
    }
  }
}

.active {
  border-bottom: 4px double #2d7fff;
  // width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}
